<div class="nested-fields">

  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <%= f.label :address, "Address" %>
  <%= f.text_field :address %>

  <%= f.label :phone, "Phone" %>
  <%= f.text_field :phone %>

  <%= f.label :email, "Email" %>
  <%= f.text_field :email %>

  <%= f.label :linkedin, "LinkedIn" %>
  <%= f.text_area :linkedin %>

  <%= f.hidden_field :_destroy %>
  <%= link_to "Remove", '#', class: "remove_fields" %>
</div>
