<div class="nested-fields">
  <p>
    <%= f.label :start_date %><br>
    <%= f.date_field :start_date %>
  </p>

  <p>
    <%= f.label :end_date %><br>
    <%= f.date_field :end_date %>
  </p>

  <p>
    <%= f.label :summary %><br>
    <%= f.text_field :summary %>
  </p>

  <p>
    <%= f.label :details %><br>
    <%= f.text_area :details %>
  </p>

  <%= f.hidden_field :_destroy %>
  <%= link_to "Remove", '#', class: "remove_fields" %>
</div>
