<div class="nested-fields">

  <%= f.label :start_date, "Start Date" %>
  <%= f.text_field :start_date, class: 'datepicker' %>

  <%= f.label :end_date, "End Date" %>
  <%= f.text_field :end_date, class: 'datepicker' %>

  <%= f.label :company, "Company" %>
  <%= f.text_field :company %>

  <%= f.label :position, "Position" %>
  <%= f.text_field :position %>

  <%= f.label :summary, "Summary" %>
  <%= f.text_area :summary %>

  <%= f.hidden_field :_destroy %>
  <%= link_to "Remove", '#', class: "remove_fields" %>
</div>
